<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt5">
          <button class="btn btn-primary pull-right" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 text-center">
          <h3>Welcome {{ username }} to Rocketeers</h3>
        </div>
      </div>
    </div>
  </div>
</div>
